
#stacks_in_2 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_4 .stacks_left {
	float:left;
	width:14%;
}

#stacks_in_4 .stacks_right {
	float:right;
	width:84%;
}
#stacks_in_4 {
	margin:  2px;
	padding:  5px;
}

#stacks_out_4 {
	width: 93%;
}

#stacks_in_6 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_9 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_11 .stacks_left {
	float:left;
	width:14%;
}

#stacks_in_11 .stacks_right {
	float:right;
	width:84%;
}
#stacks_in_11 {
	margin:  2px;
	padding:  5px;
}

#stacks_out_11 {
	width: 93%;
}

#stacks_in_13 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_16 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_18 .stacks_left {
	float:left;
	width:14%;
}

#stacks_in_18 .stacks_right {
	float:right;
	width:84%;
}
#stacks_in_18 {
	margin:  2px;
	padding:  5px;
}

#stacks_out_18 {
	width: 93%;
}

#stacks_in_20 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_23 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_25 .stacks_left {
	float:left;
	width:14%;
}

#stacks_in_25 .stacks_right {
	float:right;
	width:84%;
}
#stacks_in_25 {
	margin:  2px;
	padding:  5px;
}

#stacks_out_25 {
	width: 93%;
}

#stacks_in_27 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_30 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_32 .stacks_left {
	float:left;
	width:14%;
}

#stacks_in_32 .stacks_right {
	float:right;
	width:84%;
}
#stacks_in_32 {
	margin:  2px;
	padding:  5px;
}

#stacks_out_32 {
	width: 93%;
}

#stacks_in_34 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_37 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_39 .stacks_left {
	float:left;
	width:14%;
}

#stacks_in_39 .stacks_right {
	float:right;
	width:84%;
}
#stacks_in_39 {
	margin:  2px;
	padding:  5px;
}

#stacks_out_39 {
	width: 93%;
}

#stacks_in_41 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_44 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_46 .stacks_left {
	float:left;
	width:14%;
}

#stacks_in_46 .stacks_right {
	float:right;
	width:84%;
}
#stacks_in_46 {
	margin:  2px;
	padding:  5px;
}

#stacks_out_46 {
	width: 93%;
}

#stacks_in_48 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_51 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_53 .stacks_left {
	float:left;
	width:14%;
}

#stacks_in_53 .stacks_right {
	float:right;
	width:84%;
}
#stacks_in_53 {
	margin:  2px;
	padding:  5px;
}

#stacks_out_53 {
	width: 93%;
}

#stacks_in_55 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_58 {
	margin:  2px;
	padding:  5px;
}

#stacks_in_60 {
	margin:  2px;
	padding:  5px;
}

#stacks_out_60 {
	width: 93%;
}
